# Include the README file
include README.md

# Include the changelog
include CHANGELOG.md

# Include the license file
include LICENSE.txt

# Include the requirements file
include requirements.txt

# Include all Python files
recursive-include spoti_stream *.py
